# Discord
DISCORD_TOKEN=HIER_DEIN_DISCORD_BOT_TOKEN_EINTRAGEN
DISCORD_GUILD_ID=HIER_DEINE_SERVER_ID_EINTRAGEN
DISCORD_CLIENT_ID=HIER_DEINE_APP_ID_EINTRAGEN

# Minecraft
MINECRAFT_HOST=localhost
MINECRAFT_PORT=25565
MINECRAFT_USERNAME=DeinMCName
MINECRAFT_AUTH=microsoft
MINECRAFT_PASSWORD=
MINECRAFT_VERSION=
MINECRAFT_PROFILES_FOLDER=

# Server
PORT=3000
DASHBOARD_URL=http://localhost:5173
SESSION_SECRET=ZUFALLSGENERIERTER_LANGER_TEXT_HIER_EINTRAGEN
JWT_EXPIRES_IN=7d

# Datenbank
DATABASE_PATH=./database/windsmp.sqlite

# Dashboard Login
DASHBOARD_ADMIN_USER=admin
DASHBOARD_ADMIN_PASSWORD=admin123

# Logging
LOG_LEVEL=info
